#.gitignore
# Created Tue Feb 26 08:10:57 AKST 2019
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore.
#
.gitignore
crypto/
ecryptfs/
encfs/
filesystem/
https/
locks/
modsec/
pdf/
putty/
ssh/
